<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add Airport</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
    <div class="container my-5">
        <h3> Add Airport</h3>
        <div class="card">
            <div class="card-body">
                <div class="col-md-10">
                    <form action="#" th:action="@{/airport/createAirport}" th:object="${airport}" method="post">
                        <div class="row">
                            <div class="form-group col-md-8">
                                <label for="id" class="col-form-label">Id</label> 
                                <input type="text" th:field="*{id}" class="form-control" 
                                            id="id" placeholder="Id" />
                            </div>
                            <div class="form-group col-md-8">
                                <label for="name" class="col-form-label">Name</label> 
                                <input type="text" th:field="*{name}" class="form-control" 
                                            id="name" placeholder="Name" />
                            </div>
                            <div class="form-group col-md-8">
                                <label for="city" class="col-form-label">City</label> 
                                <input type="text" th:field="*{city}" class="form-control" 
                                            id="city" placeholder="City" />
                            </div>

                            <div class="col-md-6">
                                <input type="submit"  name="action" class="btn btn-primary" value=" Submit ">
                            </div>
 							<div class="col-md-6">
                                 <input type="submit" name="action" class="btn btn-primary" value=" Cancel ">
                            </div>
                            <!--input type="hidden" id="id" th:field="*{id}"-->
    
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>